<style>

.grid-wrapper {
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr; /* Changed from 1fr 1fr */
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(3, 1fr); /* Changed from repeat(4, 1fr) */
  }
}


.card {
  /*background: #dcdde3;*/
  /*background: #c3c4c9;*/
  background: #cbccd1;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  /* color: #999; */
  color: #5a5a5a;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  display: flex; /* Make the div a flex container */
  justify-content: center; /* Center the emojis horizontally */
  align-items: center; /* Center the emojis vertically */
  font-size: 80px; /* Adjust this value to change the size of the emojis */
  padding-bottom: 0; /* 60%; */
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}

</style>

<div class="grid-wrapper">
<div class="band">

<div class="item-3">
    <a href="https://leonardovicentini.com/projects/projectschain" class="card">
    <div class="thumb">⚙️⛓️📝</div>
    <article>
        <h1>ProjectsChain</h1>
        <p>Ethereum‑based CAD designs marketplace</p>
        <span>SOLIDITY, WEB3.JS, NODE.JS, DOCKER, REDIS, IPFS</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/daytrip" class="card">
    <div class="thumb">🌍🌤️🚗</div>
    <article>
        <h1>Daytrip</h1>
        <p> Service-oriented web app for daytrips suggestions in Italy </p>
        <span>DOCKER, PYTHON, FLASK, NODE.JS, NGINX, MONGODB</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/convex_hull_parallel_solver" class="card">
    <div class="thumb">🖥️👥✅</div>
    <article>
        <h1>Convex hull parallel solver</h1>
        <p></p>
        <span>C, MPI, OPENMP</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/digital_watermarking_tool" class="card">
    <div class="thumb">🔍📊📰</div>
    <article>
        <h1>Digital watermarking tool</h1>
        <p></p>
        <span>PYTHON, OPENCV, NUMPY</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/query_recommendation_system" class="card">
    <div class="thumb">🎥🔀🎯</div>
    <article>
        <h1>Query recommendation system</h1>
        <p></p>
        <span>PYTHON, NUMPY, PANDAS</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/video_outpainting_localizer" class="card">
    <div class="thumb">📹🔍</div>
    <article>
        <h1>Video Outpainting Localizer</h1>
        <span>PYTHON, NUMPY</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/galaxies_image_classification" class="card">
    <div class="thumb">🌌🔢🤖</div>
    <article>
        <h1>Galaxies Image Classification</h1>
        <span>PYTHON, NUMPY, PYTORCH</span>
    </article>
    </a>
</div>
<div class="item-3">
    <a href="https://leonardovicentini.com/projects/dating_app" class="card">
    <div class="thumb">👤💬💘</div>
    <article>
        <h1>Dating app</h1>
        <span>HTML, CSS, JAVASCRIPT, NODE.JS, MONGODB</span>
    </article>
    </a>
</div>
</div>
</div>


<h2>Work in progress</h2>

<div class="grid-wrapper">
    <div class="band">
   
    
    <div class="item-3">
        <a href="https://leonardovicentini.com/projects/abc" class="card">
        <div class="thumb">🗺️🗼❔</div>
        <article>
            <h1>guesscapitals.com</h1>
            <p>Web app to learn the capitals of the world</p>
            <span></span>
        </article>
        </a>
    </div>
    <div class="item-3">
        <a href="https://leonardovicentini.com/projects/abc" class="card">
        <div class="thumb">📽️📊</div>
        <article>
            <h1>tarantino.world</h1>
            <p>Software project to analyze Tarantino’s movies</p>
            <span>ELASTICSEARCH</span>
        </article>
        </a>
    </div>
    <div class="item-3">
        <a href="https://leonardovicentini.com/projects/abc" class="card">
        <div class="thumb">📚🔀💡</div>
        <article>
            <h1>books.tips</h1>
            <p>A book recommendation system</p>
            <span></span>
        </article>
        </a>
    </div>
    
    </div>
    </div>

